/* UTILITY CLASSES */
/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

:root {
    --ff-primary-montserrat: "Montserrat", sans-serif;
    --ff-secondary-fraunces: "Fraunces", serif;

    --clr-700-deep-aquamarine: hsla(157, 36%, 37%, 1);

    --clr-txt: hsla(228, 12%, 48%, 1);
    --clr-h3: hsla(212, 21%, 14%, 1);

    --bg-clr-100-cream: hsla(28, 38%, 92%, 1);
    --bg-clr-pure-white: hsla(0, 0%, 100%, 1);
    --clr-blue: rgb(78, 78, 221);

    --ls-secondary-heading: 0.3125rem;

    --fs-secondary-heading: 0.75rem;
    --fs-third-heading: 2rem;
    --fs-paragraph: 0.875rem;

    --lh-big: 2rem;
    --lh-normal: normal;
    --lh-small: 1.4375rem;

    --fw-700: 700;
    --fw-500: 500;
}

/* MAIN CONTAINERS */
.main__container {
    background: var(--bg-clr-100-cream);
    padding: 2rem 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: var(--bg-clr-pure-white);
    max-width: 37.5rem;
    border-radius: 0.625rem;
    font-family: var(--ff-primary-montserrat);

    @media (min-width: 40rem) {
        display: flex;
    }
}

.product__img {
    border-radius: 0.625rem 0.625rem 0 0;

    @media (min-width: 40rem) {
        border-radius: 0.625rem 0 0 0.625rem;
    }
}

/* TEXT */
p {
    color: var(--clr-txt);
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-500);
    line-height: var(--lh-small);

    @media (min-width: 40rem) {
        max-width: 25ch;
    }
}
h2 {
    font-size: var(--fs-secondary-heading);
    letter-spacing: var(--ls-secondary-heading);

    color: var(--clr-txt);
    font-weight: var(--fw-500);
    line-height: var(--lh-normal);
}
h3,
.text--green {
    font-size: var(--fs-third-heading);
    font-family: var(--ff-secondary-fraunces);
    font-weight: var(--fw-700);
    line-height: var(--lh-big);
    max-width: 20ch;
}
.prices--flex-wrapper {
    display: flex;
    align-items: center;
}
.text--green {
    color: var(--clr-700-deep-aquamarine);
    margin-right: 0.5rem;
}
.text--line-through {
    text-decoration: line-through;
}

/* CONTENT WRAPPER */
.article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.25rem;
    justify-content: space-between;
}

/* BUTTON */
.btn {
    cursor: pointer;
    background-color: var(--clr-700-deep-aquamarine);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: var(--clr-blue);
    }
}
.btn__img {
    transform: rotateY(180deg);
}
.btn__txt {
    padding: 1.2rem 0.5rem;
    color: var(--bg-clr-pure-white);
    font-weight: var(--fw-700);
    line-height: var(--lh-normal);
}
