/* UTILITY CLASSES */
:root {
  --ff-primary-montserrat: "Montserrat", sans-serif;
  --ff-secondary-fraunces: "Fraunces", serif;
  --clr-700-deep-aquamarine: hsla(157, 36%, 37%, 1);
  --clr-txt: hsla(228, 12%, 48%, 1);
  --clr-h2:hsla(212, 21%, 14%, 1);
  --bg-clr-100-cream:hsla(28, 38%, 92%, 1);
  --bg-clr-pure-white:hsla(0, 0%, 100%, 1);
  --ls-primary-heading: 0.3125rem;
  --fs-primary-heading: 0.75rem;
  --fs-secondary-heading: 2rem;
  --fs-paragraph: 0.875rem;
  --lh-big: 2rem;
  --lh-normal: normal;
  --lh-small: 1.4375rem;
  --fw-700: 700;
  --fw-500: 500;
}

/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* -------------------------------------------------------------------------------*/
/* MAIN CONTAINERS */
.main-container {
  background: var(--bg-clr-100-cream);
  padding: 1.75em 1em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background: var(--bg-clr-pure-white);
  max-width: 37.5rem;
  border-radius: 0.625rem;
  font-family: var(--ff-primary-montserrat);
}
.content-container-button {
  background-color: var(--clr-700-deep-aquamarine);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-container-button:hover {
  background: rgb(78, 78, 221);
}
.content-container-button .btn-img {
  transform: rotateY(180deg);
}
@media (min-width: 40rem) {
  .content-container {
    display: flex;
  }
}

img {
  border-radius: 0.625rem 0.625rem 0 0;
}

/* -------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------*/
/* TEXT */
p {
  color: var(--clr-txt);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-500);
  line-height: var(--lh-small);
}

h1 {
  font-size: var(--fs-primary-heading);
  letter-spacing: var(--ls-primary-heading);
  color: var(--clr-txt);
  font-weight: var(--fw-500);
  line-height: var(--lh-normal);
}

h2, .span-green {
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-secondary-fraunces);
  font-weight: var(--fw-700);
  line-height: var(--lh-big);
  max-width: 20ch;
}

.span-flex {
  display: flex;
  align-items: center;
}

.span-green {
  color: var(--clr-700-deep-aquamarine);
  margin-right: 0.5em;
}

.span-line-through {
  text-decoration: line-through;
}

/* -------------------------------------------------------------------------------*/
/* CONTENT WRAPPER */
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1.25em;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------*/
/* BUTTON */
.button-txt {
  padding: 1.2em 0.5em;
  font-weight: var(--fw-700);
  line-height: var(--lh-normal);
  color: var(--bg-clr-pure-white);
}

/* -------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------*/
/* @MEDIA QUERIES */
@media (min-width: 40rem) {
  img {
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .content-wrapper {
    gap: 1.7em;
  }
  p {
    max-width: 25ch;
  }
}
/* -------------------------------------------------------------------------------*//*# sourceMappingURL=styles.css.map */